<div class="header">
  <nav class="navbar">
    <div class="logo">
      <a routerLink="/">
        <img src="assets/images/logoIUT.jpg" alt="Logo IUT" />
      </a>
    </div>
    <ul>
      <li>
        <a routerLink=""><span>01.</span> Acceuil</a>
      </li>
      <li>
        <a routerLink="/authors"><span>02.</span> Recherche d'auteur</a>
      </li>
      <li>
        <a routerLink="/affiliation"><span>03.</span> Recherche d'affiliation</a>
      </li>
      <li>
        <a routerLink="/publications"><span>04.</span> Recherche de publication</a>
      </li>
    </ul>
  </nav>
</div>