.graph-authors{
    color: aliceblue;
    margin: 0;
  padding: 0;
  display: flex;

}


  
  .left-side, .right-side {
    flex: 1;
    height: 100vh; /* 100% de la hauteur de la vue */
    box-sizing: border-box;
    padding: 20px;
  }
  
  .left-side {
   
  }
  
  .right-side {
  
  }