.recherche-publications {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.publications-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.publication-item {
    border-radius: 8px;
    background: linear-gradient(
    0deg,
    rgba(255, 153, 153, 0.08) 0%,
    rgba(255, 255, 255, 0.08) 100%
    );
    margin-bottom: 20px;
    padding: 20px;
    transition: box-shadow 0.3s ease-in-out;
}

.publication-item:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.publication-title {
    color: #e7e7e7;
    margin: 0;
    font-size: 1.2em;
}
